div.dataTables_wrapper div.dataTables_filter label {
    display: none;
}

.table-responsive label{
    float: left;
    display: inline-flex;
    align-items: center;
    font-size: .9rem;
    
}

.form-control { 
    margin-left: .2rem;
    border-radius: .3rem ;
}

.right-side{
    float: right;
    display: inline-flex;
    margin-bottom: 0rem !important;
    align-items: center;
}

input#date-picker{
    width: 20% !important;
    float: left !important;
    text-align: center;
}

@media (max-width:640px) {
  input#date-picker{
    width: 100%;
    margin-left: 1rem;
  }
}