.x_content{
    background-color: white;
    max-width: 90% !important;
    left: 50.5%;
    transform: translate(-50%, 5%);
    text-align: center;
    display: contents;
}


.tabel-akun{
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.btn-tambahakun{
    text-align: left !important;
    margin-top: 2rem;
}

.btn{
    line-height: 1;
    font-size: 12px;
    font-family: 'Poppins' !important;
}

td span{
    line-height: 0px !important;
}

@media (max-width:540px) {
    .x_content{
        font-size: 9.5px;
    }
    .btn{
        font-size: 9.5px;
    }
}

/* tambah akun */
.tambahAkun{
    text-align: center;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    
}
.tambahAkun h3{
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    text-align: left !important;
    margin-left: 2.5rem;
}

.tambahAkun .form-upload{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 0rem !important;
}

.form-group{
    text-align: left !important;
}

.form-group .label-form{
    margin-bottom: 0px;    
    font-weight: 900;
    font-size: 0.9rem;
}

.form-upload .form-control{
    font-size: 0.9rem;
    width: 90%;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.form-upload ::placeholder {
    color: rgba(0, 0, 0,0.2);
    font-size: .8em;
}

.form-upload .role{
    width: 35% !important;
    font-size: .9rem;
}

.button-form{
    margin-left: 1.5rem;
    text-align: left;
}