.operator{
    position: relative;    
}

.reset-btn{
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.bayar-gagal{
    background-color: #ee7373;
    color: #f00d0d;
}

.info-tagihan{
    background-color: #FFB74D;
    color: #BF360C;
}

.bayar-sukses{
    color: #1B5E20;
    background-color: #A5D6A7;
}