@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: hsl(178.75, 100%, 28.24%);
    font-family: 'Poppins' !important;
    /* background: url(/image/login/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.kotakTengah {
    border-radius: 1rem;
    width: 45rem;
    height: 38rem;
    background-color: #F7F7F7 !important;
    top: 50%;
    left: 50%;
    margin-top: -19rem;
    margin-left: -22.5rem;
    text-align: center;
    position: absolute;
    box-shadow: 0px 1px 20px 5px rgba(2, 2, 2, 0.2);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    height: 20rem;
}

.li1 {
    padding-top: 9.5rem;
}

.li2 {
    padding-top: 1rem;
    text-align: center;
}

.li2 h3{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 1em;
}

li img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 3em;
}

.box-wrapped {
    display: flex;
    flex-wrap: wrap;
}

.box-wrapped li {
    flex: auto;
    width: 50%;

}

/* css form */
.myForm {
    display: block;
    grid-gap: .8em;
    padding: .4em 3em 0 3em;
    text-align: left;

}

.myForm>label {
    font-size: .8rem;
    text-align: left !important;
    padding-top: 0.1em;

}

.myForm>input,
.myForm>button,
span {
    grid-column: controls;
    grid-row: auto;
    border-radius: .2rem;
}

.myForm .input-form {
    border: 1px solid grey;
    width: 100%;
    margin-bottom: .2rem;
    display: flex;
    border-radius : .3rem;
    padding: 0px;
}

.input-form input {
    border: none;
    outline: none;
    color: rgb(69, 90, 100);
    border-radius : .3rem;
    padding: .3rem;
    margin: 0px;
    width: 100%;
    
}

.dropdown{
    width: 100%;
    outline: none;
    border: none;
    border-radius: .3em;
    padding: .3rem;
}


.myForm>button {
    background-color: rgb(229, 57, 53);
    color: white;
    width: 45%;
    text-align: center;
    padding: 0.5em;
    margin-top: 1.2em;
    margin-bottom: 0.5rem;
    margin-left: 5.5rem;
    font-weight: 700;
    border: none;
    box-shadow: 0 .2rem #666;
    justify-content: center;
    align-items: center;
    
}

.myForm>button:hover {
    background-color: rgb(183, 28, 28)
}

.myForm>button:active {
    background-color: rgb(198, 40, 40);
    box-shadow: 0 .1rem #666;
    transform: translateY(4px);
}

span {
    font-size: .8rem;

}

span a {
    text-decoration: none;
    color: rgb(198, 40, 40);
    font-weight: 600;
}

@media (max-width:640px) {
    .kotakTengah {
        width: 22rem !important;
        margin-left: -11rem !important;
        top: 50%;
        left: 50%;

    }

    .myForm {

        margin-left: 1.5rem !important;
        margin-right: 0rem !important;
    }

    .myForm>button {
        margin-left: 3.5rem !important;
    }

    .box-wrapped li {
        flex: auto;
        /* Set the width to 50% */
        width: 100%;

    }

    .li1 {
        display: none;
    }

}
